.spin {
  position: inherit;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spin > p {
  color: gray;
}

.lendHeading {
  width: 1120px;
  margin: auto;
  padding: 24px 0;
}

.lendHeading > h1 {
  font-size: 1.7rem;
  color: #514f4f;
  font-weight: 500;
  letter-spacing: 1px;
}

.lendHeading > p {
  font-weight: 500;
  color: #8a8787;
  letter-spacing: 1px;
}

.mianContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  width: 1120px;
  margin: auto;
}

.sortPaginate {
  min-width: 850px;
  margin: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sortContainer {
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sortIcon {
  border-radius: 18px;
  height: 28px;
  text-align: center;
  border: 1px solid rgb(174, 174, 174);
  cursor: pointer;
  width: 44px;
}

.sortIcon:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.sortIcon > button {
  margin: 4px 0 0 0;
}
